.biscut-body {
    background: rgba(47, 189, 102, 1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47, 189, 102, 1)), color-stop(66%, rgba(47, 189, 102, 1)), color-stop(100%, rgba(28, 28, 28, 1)));
    background: linear-gradient(to bottom, rgba(176, 79, 36, 0.53) 0%, rgb(174, 80, 37) 66%, rgba(28, 28, 28, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2fbd66', endColorstr='#1c1c1c', GradientType=0);
}

.block-bg {
    border: 1px solid #ccc;
    padding: 2px 16px;
    background: rgba(232, 232, 232, 0.78);
    border-radius: 5px;
}

.white {
    margin-top: 10px;
}

.caption {
    text-align: center;
}

[class^="line-sep-"] {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20em;
    display: block;
    height: 2px;
}

.line-sep-blue {
    background-color: #008aeb;
}

.separator {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}

.separator:before {
    width: 100px;
    position: absolute;
    left: 120%;
    top: 46%;
    height: 2px;
    background-color: #5e5e5e;
    content: " ";
}

.separator:after {
    width: 100px;
    position: absolute;
    right: 120%;
    top: 46%;
    height: 2px;
    background-color: #5e5e5e;
    content: " ";
}

figure:hover img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

a,
figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

a img,
figure img {
    width: 100%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

a:hover,
figure:hover {
    overflow: hidden;
}

a:hover .image-overlay,
figure:hover .image-overlay {
    opacity: 1;
}

figure {
    width: 70%;
    margin: auto;
}

.cust-tab {
    background: rgba(222, 167, 84, 0.48);
}

.cust-tab > li {
    border-right: 1px solid #fff;
}

.cust-tab > li > a {
    padding: 5px 15px;
}

.teafact {
    margin-top: 4%;
}

.teafact span {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.teafact span:hover {
    color: #2fbd66;
}

.tea-color {
    color: #256e42;
}

.red-color {
    color: rgba(205, 43, 43, 0.82);
}

.close-btn {
    font-size: 35px !important;
    font-weight: bold !important;
}

.tea-active,
.list-group > .tea-page:hover,
.list-group > .tea-page:focus {
    background: rgba(47, 189, 102, 0.48);
    color: rgba(0, 0, 0, 0.69);
    border: 1px solid #ccc;
}

.biscut-color {
    color: #b45d35 !important;
}

.company-icon-color {
    color: #538fb6;
    margin-right: 11px;
}

.a-captilize {
    text-transform: capitalize;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.logo-size {
    height: 100px;
}

.custom-style {
    background: rgba(20, 130, 63, 0.71);
    color: #ccc;
    text-transform: capitalize;
}

.custom-style > h4 {
    color: #ccc;
}

.bs-list > .list-group-item {
    background-color: rgba(153, 59, 16, 0.21);
    border: 1px solid rgba(178, 90, 49, 0.32);
    margin-top: 0px;
}

.bs-prod-img {
    height: 220px;
    margin-left: 9px;
    width: 100%;
}
