<div class="row">
    <br>
    <p align="justify" style="margin-left: 15px; margin-right: 15px; ">
        Under the leadership of Mr. Gopal Poddar (Chairman & M.D.), Mr. Shankar Poddar (Director) & Mr. Subhas Poddar (Director), along with a professional team and experienced factory workers, the company successfully ventured into the biscuit industry, & set up a state of the art fully automatic factory at Asansol, W.B. Limtex offers different varieties of biscuits like Super Marie, Morning Marie, Classic Marie, Makhan Bhog, Milk Maza, Ener-G, Hot Choice, Cream Cracker, Double Bite, Coco Bite, Snakes, Orange Cream, etc.
    </p>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <img src="images/biscuit/P1190024-copy.jpg" style="border:3px double #666666;">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <img src="images/biscuit/nargis11.jpg">
    </div>
</div>
<br>
<br>
