<div class="row">
    <br>
    <p style="margin-left: 15px ">
        To the conditions and manner in which biscuits are handled. To this end, all our staff has been instructed in Basic Food Hygiene.
    </p>
    <ul>
        <li>All staff is provided with protective overalls, and is required to wear hair coverings.</li>
        <li>Hand washing prior to handling the product is compulsory.</li>
        <li>The latest stainless steel sinks, with hand free operated taps, have been provided.</li>
        <li>The wearing of jewelers, other than a plain Wedding ring, is prohibited, as is the use of perfume.</li>
        <li>Especially detectable plasters must cover all cuts, and a First Aid station is available for the use of all our staff.</li>
        <li>The fabric of the building is continually being maintained and updated.</li>
        <li>Light fittings are covered by plastic diffusers, or are of the latest plastic coated variety, which prevents any accidental breakage. This will prevent any glass entering our products and we are now in the process of replacing many glass window panels by shatterproof polycarbonate.</li>
        <li>There is an on-going programme to eliminate "dead spaces" which could provide insect harborages.</li>
        <li>A regular cleaning programme ensures the hygienic condition of all our machines and working surfaces. All cleaning materials have been authorized for food use, so that there is no chance of contamination from this source.</li>
        <li>Additionally, we have engaged the services of an outside Pest Control Contractor, to carry out regular inspections of our premises, and provide any necessary rodent control service. This ensures that our premises are always to the standard necessary when dealing with food products.</li>
    </ul>
    <p style="margin-left: 15px ">
        We feel that our Quality Control Programme meets the most exacting customer requirements, and can assure you that we will always be looking for further improvement
    </p>
    <br>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-3">
        <img src="images/biscuit/colag.jpg" style="border:3px double #666666;">
        <br>
        <br>
        <br>
    </div>
</div>
