<div class="row">
    <br>
</div>
<div class="row">
    <p style="margin-left: 20px; ">
        Raw materials (ingredients) are delivered just in time for production. When raw materials are received on site, they are inspected for cleanliness and quality then released to the storage area.
    </p>
    <p>
        <img src="images/biscuit/quality1.jpg" width="167" height="125" style="float:right; margin-right: 1px; margin-top: 3px;">
        <ul>
            <li>Ingredients are weighed and added to the mixer. The size of the batch is pre-planned to meet expected consumer demand.</li>
            <br>
            <li>
                The ingredients are then mixed together and the dough is formed. The dough is then removed from the mixer and transferred to the production line.
            </li>
        </ul>
    </p>
</div>
