<div class="row">
    <br>
    <br>
</div>
<div class="row">
    <div class="col-md-6">
        <p style="margin-left:20px; ">
            <b>Factory Location :</b>
            <br>
            <br>
            <b><i>Limtex Industries Ltd.</i></b>
            <br> Chitaranjan Road, P.O. : Salanpur
            <br> District : Burdwan (West Bengal)
            <br> Phone :(O) 0341 - 531128/531181
            <br> (R) 520077/520303
            <br> Mobile : 98321-80458
            <br>
        </p>
        <br>
        <br>
        <br>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <img src="images/biscuit/pic.jpg" style="margin-top:40px; ">
    </div>
</div>
