<div class="row">
    <div class="col-md-12">
        <p style="margin-left:35px;">
            <img src="images/tea/pic_gardencare.jpg" width="178" height="178" style="border:3px double #CCCCCC;float:right; margin-right: 30px; margin-top: 5px;"> The leaves grow under the watchful eye of our Garden Manager, Mr. Arup Sen</p>
        <p style="margin-left:35px;">Our assistant manager making sure that the plucking is done properly. The local people form a team to manage the huge garden. Regular weeding is done to ensure the better growth of tea bushes. Lush, green garden with shady trees to protect the bushes from the harmful rays of the sun.</p>
        <p style="margin-left:35px;">Mr. Sen on a regular patrol, to keep watch on each nook and corner of the garden.</p>
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <img src="images/tea/pic_colag.jpg" width="342" height="246" style="border:3px double #CCCCCC; margin-right: 10px; margin-top: 5px;">
        <br>
        <br>
    </div>
</div>
