<section class="white">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-primary text-uppercase">Packaging</h3>
            <span class="line-sep-blue"></span>
            <ul class="list-unstyled">
                <li>
                    <p><strong>Limtex Tea caddy & chestlet</strong></p>
                    <p>
                        Limtex is now the store-house of a good number of highly skilled and experienced professionals who are quite capable to offer a wide range of exclusive caddies and chestlets with garden-fresh CTC and orthodox teas. These teas are carefully blended, processed and packed to meet the varied requirements of the international markets that will greet you with a morning cup of delicate flavour or will appease you with a strong and mellow cup when you relax at the end of the day-there is nothing to beat the flavour and aroma of a fine cup of Limtex CTC and orthodox Tea.</p>
                </li>
                <li>
                    <p><strong>Limtex Packet & Pouch Tea</strong></p>
                    <p>
                        The packaging Development enjoys record of pioneering many an innovation. No effort has been spared to provide care and service.The latest technology allows us to offer wide range of shapes and styles at a competitive price with maximum load ability. With these expertise in sourcing, blending and packaging, Limtex has successfully exported quite a good number of popular Tea brands to various countries.</p>
                </li>
                <li>
                    <p><strong>Limtex Flavour Tea & Tea</strong></p>
                    <p>
                        LIMTEX offers comprehensive skills in Flavour Tea & Tea Bags which are carefully blended, processed and packed to provide a full range of flavours to meet the perfect requirements of international market. We are exporting both single chamber & double chamber, besides pot tea bags in various specifications as per the Buyers requirements.</p>
                    <p>
                    	The different flavours are Mint Flavour, Peach Flavour, Earl Gray Flavour, Lemon Flavour, Cardamon Flavour, Orange Flavour, Apricot Flavour, Cherry Flavour & Strawberry Flavour.
                    </p>
                </li>
                <li>
                	<div class="col-md-12" style="text-align: center">
                		<img src="images/tea/colag_tea.jpg">
                	</div>
                </li>

            </ul>
        </div>
    </div>
</section>

