<section class="white">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-primary text-uppercase">Production</h3>
            <span class="line-sep-blue"></span>
            <ul class="list-unstyled">
                <li class="col-md-12" style="padding: 0;">
                    <div class="col-md-10">
                        <p><strong>Tea Garden</strong></p>
                        <p>
                            Limtex always prefers to export fresh tea from its own Tea gardens, besides other gardens of Darjeeling, Assam and Nilgiri.</p>
                        <p><strong>Warehousing</strong></p>
                        <p>
                            The group has its own modernized warehouse both in North and South India, to handle Tea warehousing, blending and packaging. These Warehouses are fully equipped with modern facilities, which includes the Blending drum.</p>
                        <p>Entire packaging is done with utmost care under the joint supervision of the representative of the organization and the internationally recognized inspection agency.</p>
                    </div>
                    <div class="col-md-2">
                        <img src="images/tea/pic_prod.jpg">
                    </div>
                </li>
                <li class="col-md-12">
                    <p><strong>Blending</strong></p>
                    <p>
                        The entire blending is being done by Blending drum. The blended tea is being passed through magnetic mesh to remove metal particles from the Tea. Ultimately the tea is being packed on tables by expert packet makers. The whole operation is being done very carefully to ensure the quality of the tea to be most hygienic.</p>
                </li>
                <li class="col-md-12" style="padding: 0;">
                    <div class="col-md-9">
                        <p><strong>The Test Of Success</strong></p>
                        <p>
                            In our well decorated tasting room, lined with hundreds of white porcelain cups and pots of infused tea leaves, our tea taster sniffs and tastes every cup, its flavour and freshness, body and strength. And then he evaluates every tea meticulously to ensure the consumer to select his right cup of tea.</p>
                        <p><strong>Packing</strong></p>
                        <p>
                            We provide tea in both Bulk and Packet form. We have successfully packed CTC and Orthodox Tea in various sizes of Metal Caddy and Wooden Chestlet. On top of this we have developed seven flavour tea in tea bag form. Namely Mango, Lemon, Strawberry, Pineapple, Apple, Banana and Chocolate.</p>
                    </div>
                    <div class="col-md-3">
                    	<img src="images/tea/pic_prod1.jpg">
                    </div>
                </li>
                <li class="col-md-12">
                    <p><strong>Quality Control</strong></p>
                    <p>
                        The quality of Tea is being controlled by the well experienced Tea Personnel of the organization. Tea against each order is being procured only after being tasted carefully by our Tea Tasters. Above all, the entire operation is being inspected directly by S.G.S. or any other internationally recognised inspection agency nominated by the importer.</p>
                </li>
                <li class="col-md-12">
                    <p><strong>Research & Development</strong></p>
                    <p>
                        The organization is spending a handsome amount through out the season on Research and Development activity to update its design, size and costing of its product to make the product most hygienic, attractive and competitive as per the trend of the global market.</p>
                </li>
                <li class="col-md-12">
                    <p><strong>Transportation</strong></p>
                    <p>
                        The company has its own transportation facilities to ensure safe and fast movement of its cargo from one point to other.</p>
                </li>
                <li class="col-md-12">
                    <div style="text-align: center">
                        <img src="images/tea/brand.jpg">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<div>
    <span style="color:black; font-family: 'calibri', Garamond, 'Comic Sans MS'; font-size:130% "></span>
    <p align="justify" style="margin-right:10px;">
    </p>
    <span style="color:black; font-family: 'calibri', Garamond, 'Comic Sans MS'; font-size:130% "> </span>
    <p align="justify">
        
    </p>
    <span style="color:black; font-family: 'calibri', Garamond, 'Comic Sans MS'; font-size:130% "> </span>
    <p align="justify">
    </p>
    <span style="color:black; font-family: 'calibri', Garamond, 'Comic Sans MS'; font-size:130% "> </span>
    <p align="justify" style="margin-right:10px;">
    </p>
    <span style="color:black; font-family: 'calibri', Garamond, 'Comic Sans MS'; font-size:130% "> </span>
    <p align="justify" style="margin-right:10px;">
    </p>
    <span style="color:black; font-family: 'calibri', Garamond, 'Comic Sans MS'; font-size:130% "> </span>
    <p align="justify" style="margin-right:10px;">
    </p>
    <br>
    <p align="center">
    </p>
</div>
