<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <p align="justify" style="margin-right:25px;">Nargis, the very sound of the word seems so enchanting and so divine, it is the name of a flower, recognized for its fragrance. It signifies aroma and flavour to soothe the mind and refresh the body. The brand comes in two standards Gold and Silver. The Brand has been successfully launched in the states of West Bengal, Bihar, Orissa and Jharkhand.
        </p>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <p style="text-align:center">
            <img src="images/tea/tea_brand.jpg">
        </p>
    </div>
</div>
