<section class="white">
    <div class="row list-group">
        <div class="item  col-xs-4 col-lg-4 grid-group-item" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ctc11.jpg" alt="">
            <div class="">
                <span>PF</span>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4 grid-group-item" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ctc22.jpg" alt="">
            <div class="">
                <span>BPSM</span>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4 grid-group-item" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ctc33.jpg" alt="">
            <div class="">
                <span>BP</span>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4 grid-group-item" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ctc44.jpg" alt="">
            <div class="">
                <span>BOPSM</span>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4 grid-group-item" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ctc55.jpg" alt="">
            <div class="">
                <span>BOP</span>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4 grid-group-item" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ctc66.jpg" alt="">
            <div class="">
                <span>BOPS</span>
            </div>
        </div>
        <div class="item  col-xs-12 col-lg-12 grid-group-item" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ctc77.jpg" alt="">
            <div class="">
                <span>BOPL</span>
            </div>
        </div>
    </div>
</section>

