<section class="white">
    <div class="row">
        <div class="item  col-xs-4 col-lg-4" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ortho11.jpg" alt="">
            <div class="">
                <span>DARJEELING-SFTGFOP1-WITH SILVER TIPS</span>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ortho22.jpg" alt="">
            <div class="">
                <span>DARJEELING-SFTGFOP1-WITH WHITE TIPS</span>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ortho33.jpg" alt="">
            <div class="">
                <span>ASSAM-FTGFOP-WITH GOLDEN TIPS</span>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ortho44.jpg" alt="">
            <div class="">
                <span>ASSAM-GFBOP-WITH GOLDEN TIPS</span>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ortho55.jpg" alt="">
            <div class="">
                <span>STGOF</span>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ortho66.jpg" alt="">
            <div class="">
                <span>SFTGBOP</span>
            </div>
        </div>
        <div class="item  col-xs-12 col-lg-12" style="text-align: center">
            <img class="group list-group-image" src="images/tea/ortho77.jpg" alt="">
            <div class="">
                <span>SFTGFOP</span>
            </div>
        </div>
    </div>
</section>

