<div class="row">
    <div class="col-md-12">
        <table style="margin-left: 20px;">
            <tbody>
                <tr>
                    <td>
                        <span style="color:#4080bf; font-family: times, serif; font-size:200%">The Men Behind</span>
                        <span class="line-sep-blue"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td align="center" valign="top" width="215" height="223">
                                    <img src="images/main/thumb_manbehind01.jpg" width="200" height="150" style="float:left;margin:4px 15px 5px 0px;">
                                    <br>
                                    <strong>Mr. Gopal Poddar</strong>
                                    <br> Chairman cum Managing Director
                                    <br> Limtex (India) Limited
                                    <br>
                                    <br>
                                </td>
                                <td align="center" valign="top">
                                    <p style="text-align:justify;">
                                        When Mr. Gopal Poddar, entered the tea industry 25 years ago, he was clear about one thing he wanted to make it to the top of the industry. And that's what he did for the past 25 years. He had a vision and he wanted to grow and the entrepreneur in him yearned to succeed. After graduating from Calcutta University, Mr. Poddar studied law at University Law College of Calcutta. He also completed his Masters in Commerce from the Calcutta University along with his L.L.B.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align:justify;">
                            He started his career as an Officer with Hindustan Development Corporation where he worked for nine years at various functional and administrative positions.
                            <br>
                            <br> This was the time the entrepreneur in him realized that he need to break away and do something of his own which lead him start off independently in 1977. The small tea trading business he started in 1977 has grown to Limtex Group of Industries that he heads as Chairman &amp; MD. Limtex is today one of the major players in the tea industry and made a name for itself in the world market.
                            <br>
                            <br> It has diversified in biscuits and detergents. Under his stewardship Limtex is a popular name in the household. It has emerged as a diversified FMCG house.
                            <br>
                            <br> As Mr. Poddar puts it, <strong>"I started off in 1977 with a miniscule turnover of Rs.1.02 lacs and the now, for the fiscal ended March 2014 the group turnover pegged at 1200 crores".</strong>
                            <br>
                            <br> And ask him mantra of success, he sighs off <strong>"its all team work and people out here are business focused. We are a professional team and I believe in my people and they in turn believe in me".</strong>
                            <br>
                            <br> The big day came in 1999 when Limtex was awarded the National Export Award by the Indian Prime Minister for outstanding performance in Exports. This was apart from the <strong>"Niryaat Shree Award"</strong> Ministry of Commerce and the Federation of Indian Export Organisation.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="3" cellpadding="5">
                            <tr>
                                <td width="50%" , align="center" , valign="middle">
                                    <img src="images/main/thumb_manbehind02.jpg" width="200" height="150">
                                </td>
                                <td align="center" , valign="middle">
                                    <img src="images/main/thumb_manbehind03.jpg" width="200" height="150">
                                </td>
                            </tr>
                            <tr>
                                <td align="center" , valign="top">
                                    "Our achievement is our motivation.
                                    <br> Our ambition is to soar heights
                                    <br> & to create a space for India in the
                                    <br> international market ".
                                    <br>
                                    <br>
                                    <br>
                                    <strong>Mr. Shankar Poddar</strong>
                                    <br> Director of Limtex (India) Limited
                                </td>
                                <td align="center" , valign="top">
                                    In Limtex we believe the greatest
                                    <br> achievement is to win the heart of
                                    <br> our consumers. Our ultimate motto
                                    <br> is to see- " Limtex is a loving name
                                    <br> in every Indian household."
                                    <br>
                                    <br>
                                    <br>
                                    <strong>Mr. Subhas Poddar</strong>
                                    <br> Director of Limtex (India) Limited
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>&nbsp</td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <br>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
