<div class="row">
    <div class="col-md-12">
    <table style="margin-left: 20px;">
    <tbody>
        <tr><td>
        	<span style="color:#4080bf; font-family: times, serif; font-size:200%">Mile Stone</span>
        </td></tr>
        <tr><td>
        	&nbsp
        </td></tr>
        
        
        <tr><td><span style="color:black; font-family: 'calibri', Garamond, 'Comic Sans MS'; font-size:130% ">Comming Soon</span>
        </td></tr>
        
        <tr>
        	<td><br>&nbsp</td>
        </tr>
        <tr>
        	<td><br><br><br><br></td>
        </tr>

        </tbody>
        </table>
    </div>
</div>
