<div class="row">
<div class="col-md-12">
<table style="margin-left: 20px; width: 90% ">
    <tbody>
        <tr>
            <td>
               <span style="color:#4080bf; font-family: times, serif; font-size:200%">Our Reach</span> 
            </td>
        </tr>
        <tr>
            <td>&nbsp</td>
        </tr>
        <tr>
            <td align="center" valign="top">
            <img src="images/main/world.jpg" alt="Our reach" width="349" height="206" style="border:double 3px #D9E6EC;" />
            </td>
        </tr>
        <tr>
            <td align="left" valign="top"><p>&nbsp;</p></td>
        </tr>
        <tr>
            <td align="left" valign="top" class="pageheading"><strong> We Export quality agro commodities to various part of the world namely:</strong></td>
        </tr>
        <tr>
            <td align="left" valign="top">
            <table width="90%" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                   <td width="50%" align="left" valign="top"><ul class="reachpagelist">
                        <li>USA</li>
                        <li>UK</li>
                        <li>Russia</li>
                        <li>Germany</li>
                        <li>France</li>
                        <li>Japan</li>
                        <li>Netherlands</li>
                        <li>Poland</li>
                        <li>Saudi Arabia</li>
                        <li>UAE</li>
                        <li>Turkey</li>
                        <li>Ukraine</li>
                    </ul></td>
                    <td align="left" valign="top"><ul class="reachpagelist">
                        <li>Iraq</li>
                        <li>Jordan</li>
                        <li>Kenya</li>
                        <li>Kazakhstan</li>
                        <li>Libya</li>
                        <li>Yemen</li>
                        <li>Pakistan</li>
                        <li>Tunisia</li>
                        <li>Sudan</li>
                        <li>Azerbaijan</li>
                        <li>Iran</li>
                        <li>Afghanistan</li>
                        </ul></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
        <td align="left" valign="top" class="pageheading"><strong> Turnover:</strong></td>
    </tr>
    <tr>
        <td align="left" valign="top"><p>The Group has turnover of $ 40 million in Export, only in Tea. We have been granted <strong>"Trading House"</strong>  Status by the Government of India.</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">&nbsp;</td>
    </tr>




				
        <tr>
        	<td><br><br><br></td>
        </tr>
        <tr>
        	<td><br><br><br></td>
        </tr>
        <tr>
        	<td><br><br><br></td>
        </tr>
    </tbody>
</table>

</div>
</div>