<section class="white">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <figure>
                    <img src="images/main/thumb_profile01.jpg" class="img-responsive" alt="">
                    <div class="image-overlay">
                        <p>
                            <a href="images/main/thumb_profile01.jpg" class="show-image">
                                <i class="iline2-arrows55"></i>
                            </a>
                        </p>
                    </div>
                    <!--image overlay-->
                </figure>
                <!--/figure-->
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="text-primary text-uppercase">COMPANY BRIEF</h3>
            <span class="line-sep-blue"></span>
            <p class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
                Limtex is a group of companies having sister concerns to handle its various activities in Tea Trading, manufacturing and exports, under the control of Limtex (India) Ltd. The entire Export activity is controlled exclusively by Limtex (India) Ltd. The domestic trading and other industrial activities are handled by its sister concerns. Hence Limtex (India) Ltd. is a 100% export oriented organization. Our offices are situated at Calcutta, Bombay, Cochin, Coonoor, Coimbatore, Siliguri and Kotagiri. Calcutta is our Head Office. Our two tea processing units, one, at Kotagiri (South India) and the other at Siliguri (North India), produces more than 5 million Kgs of Tea annually. Hence we are able to produce both North Indian as well as South Indian Tea our self without having to depend on others.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3 class="text-primary text-uppercase">NATURE OF BUSINESS</h3>
            <span class="line-sep-blue"></span>
            <p class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
                We are leading Producers, Manufacturers and Exporters of Indian Tea both in the Domestic and International market with a traditional reputation. We are registered buyers at all the Major Auction centers in India having a sizeable purchase orders every week to meet various requirements of our clients. We also maintain good relation with the tea producers in India as a result we get regular supplies of private offerings to meet various requirements of our honorable clients. Our Tea Garden is situated in the Foot Hills of Himalayas, besides the river Teesta, covering an area of 1400 acres in the Uttar Dinajpur District of West Bengal in North India, expected to produce more than 1.8 million kgs of made Tea annually.
            </p>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <figure>
                    <img src="images/main/thumb_profile02.jpg" class="img-responsive" alt="">
                    <div class="image-overlay">
                        <p>
                            <a href="images/main/thumb_profile02.jpg" class="show-image">
                                <i class="iline2-arrows55"></i>
                            </a>
                        </p>
                    </div>
                    <!--image overlay-->
                </figure>
                <!--/figure-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <figure>
                    <img src="images/main/thumb_profile03.jpg" class="img-responsive" alt="">
                    <div class="image-overlay">
                        <p>
                            <a href="images/main/thumb_profile03.jpg" class="show-image">
                                <i class="iline2-arrows55"></i>
                            </a>
                        </p>
                    </div>
                    <!--image overlay-->
                </figure>
                <!--/figure-->
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="text-primary text-uppercase">TRADITIONAL BUSINESS</h3>
            <span class="line-sep-blue"></span>
            <p class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
                Ours is a growing organization, running successfully from the last 22 years and is mainly looked after by Mr. Gopal Poddar and his brothers Mr. Shankar Poddar and Mr. Shubash Poddar. Mr. Gopal Poddar, Chairman cum Managing Director, is well known in the Tea Industry having more than 25 years of experience.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-primary text-uppercase">TURNOVER</h3>
            <span class="line-sep-blue"></span>
            <p class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
                The Group has turnover of $17 million in Export and another $5 million in the domestic market, totaling to $21 million, only in Tea. We have been granted Trading House Status by the Government of India. We are exporting to Russia, C.I.S, Middle East, Europe, Africa, Japan, Afghanistan etc.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3 class="text-primary text-uppercase">COMPANY GROWTH</h3>
            <span class="line-sep-blue"></span>
            <p class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
                The company has shown a overall growth rate of 60%. We feel proud to mention that we have been awarded the prestigious "National Export Award" by the Present Indian Prime Minister Shri A. B. Vajpayee, having been nominated by Federation of Indian Export Organization, in association with Ministry of Commerce, Government of India. Besides this, we have own other Export related awards from the Ministry of Commerce, Banks, Associations, etc.
            </p>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <figure>
                    <img src="images/main/thumb_profile04.jpg" class="img-responsive" alt="">
                    <div class="image-overlay">
                        <p>
                            <a href="images/main/thumb_profile04.jpg" class="show-image">
                                <i class="iline2-arrows55"></i>
                            </a>
                        </p>
                    </div>
                    <!--image overlay-->
                </figure>
                <!--/figure-->
            </div>
        </div>
    </div>
</section>
