<section class="white">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-primary text-uppercase">Social Responsibility</h3>
                <span class="line-sep-blue"></span>
                <ul class="list-unstyled">
                    <li>
                        We don't believe in- business is only for business, rather we lay stress on social responsibility, corporate responsibility and community relation- which we think our moral duty as global corporate body. We believe that charity begins at home so we take many community relation and social responsibility programs for the betterment of our communities as well as society. Besides, ours have a positive approach to the communities in which the company does business through its support of select programs, outreach efforts and initiatives that improve and enhance the quality of life. Our goal is to make things better for the planet, better for people, better for business, better now, better for the future.
                    </li>
                    <li>
                        <b>Just have a look at our programs</b>
                        <ul>
                            <li>Ours have a program on education, health, drinking water, large-scale development of employable skills, to assistance during natural calamities such as earthquakes and cyclones.</li>
                        </ul>
                    </li>
                    <li>
                        <b>Health </b>
                        <ul>
                            <li>Mobile clinics - visit once in a week to provide treatment with reputed doctors as well as free medicine</li>
                            <li>Medical camps - facilitates free treatment and free medicine for the internal public Ambulance car</li>
                            <li>Health training and awareness to the communities.</li>
                            <li>Mother and child health</li>
                            <li>Reproductive health</li>
                            <li>Awareness building</li>
                            <li>Sanitation - toilets, training, smokeless chullahs and biogas</li>
                        </ul>
                    </li>
                    <li>
                        <b>Water </b>
                        <ul>
                            <li>Safe drinking water</li>
                        </ul>
                    </li>
                    <li>
                        <b>Education </b>
                        <ul>
                            <li>Adult education</li>
                            <li>Non-formal education</li>
                            <li>Continuing education</li>
                            <li>Scholarships for girls, merit and technical education</li>
                        </ul>
                    </li>
                    <li>
                        <b>Beside we take social responsibility projects like </b>
                        <ul>
                            <li>Community's Safety (includes Road Safety, emergency and trauma care to victims of highway accidents, ambulance services) Rural Infrastructure Development</li>
                            <li>Livelihood Support Programmes</li>
                            <li>Relief Operations</li>
                            <li>Wildlife and Animal Care</li>
                            <li>Heritage Conservation</li>
                            <li>Supporting Indian Culture</li>
                            <li>Supporting Professional Organisations and NGOs</li>
                            <li>Promoting Sports and Sportspersons</li>
                            <li>Acknowledging and Supporting Talent</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
